.mainTitle{
    align-content: center;
    text-align: center;
}
.nav__icon{
    text-align: center;
    align-content: space-between;
}
.container{
    text-align: center;
    align-content: space-between;
}