<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${author.id}">Authors</title>
</head>

<header class="container__header">
    <h3><a href="/">Home</a></h3>
</header>
<body class="container">

    <div class="container__nav">
        <a href="/category/all-categories">Add a Category</a>
        <a href="/tag/allTags">Add a Tag</a>
        <a href="/posts/all-posts">Add a Post!</a>
    </div>

    <div class="container__body">
        <div class="container__body__info">
            <h1>Author</h1>
            <h2 th:text="${author.id}">Authors</h2> <br>
            <h3 th:each="post: ${author.posts}">
                <a th:text="${post.title}" th:href="@{'/post/' +${post.id}}">Post</a>
            </h3>
        </div>
    </div>

</body>
</html>