<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${author.id}">Authors</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/layout.css">
</head>

<header>

    <div>
        <h1 class="mainTitle">
            The Taco Guru
        </h1>
    </div>
        <div class="nav__icon">
            <a href="/">Home</a>
            <a href="/category/all-categories">Categories</a>
            <a href="/post/all-posts">Post</a>
            <a href="/tag/all-tags">HashTags</a>
        </div>
</header>
<hr>



<body class="container">

    <div class="container__body">
        <div class="container__body__info">
            <h1>Author</h1>
            <h2 th:text="${author.name}">Authors</h2> <br>
            <h3 th:each="post: ${author.posts}">
                <a th:text="${post.title}" th:href="@{'/post/' +${post.id}}">Post</a>
            </h3>
        </div>
    </div>

</body>
</html>