<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/layout.css">
</head>

<header>
    <div class="indexBody">
        <div class="nav__icon">
            <a href="/">Home</a>
            <a href="/category/all-categories">Categories</a>
            <a href="/post/all-posts">Post</a>
            <a href="/tag/all-tags">HashTags</a>

        </div>
    </div>
</header>



<body class="container">


<div class="container__body">
    <div class="container__body__info">
        <h1>Authors</h1>
        <div th:each="author: ${authors}" th:remove="tag">
            <a th:text="${author.name}" th:href="'/author/' + ${author.id}"></a>
        </div>

        <form action="/author/add" method="post">

            <input type="text" name="authorName" placeholder="name"/>
            <button type="submit"> Type your name</button>

        </form>
    </div>
</div>

</body>
</html>