<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${category.name}">Category</title>
</head>

<header class="container__header">
    <h3><a href="/">Home</a></h3>
</header>


<body class="container">
<div class="container__nav">
    <a href="/author/all-authors/">Add an Author</a>
    <a href="/tag/allTags">Add a Tag</a>
    <a href="/posts/all-posts">Add a Post!</a>
</div>


<div class="container__body">

    <div class="container__body__info">
        <h1> Category</h1>
    </div>

    <div th:text="${category.name}"><h1>Categories</h1></div>
    <div th:each="post: ${category.posts}" th:href="@{'/post/' + ${post.id}}"><h2>Post</h2></div>
</div>

    <form action="/category/add" method="post">
        <input type="text" name="categoryName" placeholder="Category"/>
        <button type="submit"> Add a Category</button>
    </form>


</div>

</body>
</html>