<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${category.name}">Category</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/layout.css">
</head>

<header>
    <div>
        <h1 class="mainTitle">
            Welcome to the Taco site!
        </h1>
    </div>
    <div class="indexBody">
        <div class="nav__icon">
            <a href="/author/all-authors">Author</a>
            <a href="/post/all-posts">Post</a>
            <a href="/tag/all-tags">HashTags</a>

        </div>
    </div>
</header>


<body class="container">


<div class="container__body">

    <div class="container__body__info">
        <h1> Category</h1>
    </div>

    <div th:text="${category.name}"><h1>Categories</h1></div>
    <div th:each="post: ${category.posts}" th:href="@{'/post/' + ${post.id}}"><h2>Post</h2></div>
</div>

    <form action="/category/add" method="post">
        <input type="text" name="categoryName" placeholder="Category"/>
        <button type="submit"> Add a Category</button>
    </form>


</div>

</body>
</html>