<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/layout.css">
</head>


<header>
    <div>
        <h1 class="mainTitle">
            All The Tacos
        </h1>
    </div>
    <div class="indexBody">
        <div class="nav__icon">
            <a href="/">Home</a>
            <a href="/author/all-authors">Author</a>
            <a href="/post/all-posts">Post</a>
            <a href="/tag/all-tags">HashTags</a>

        </div>
    </div>
</header>
<hr>



<body class="container">


    <div class="container__body">

        <div class="container__body__info">
            <h1> More Tacos</h1>
        </div>

        <div th:each="category:${categories}" th:remove="tag">
            <a th:text="${category.name}" th:href="'/category' + ${category.id}"></a>
        </div>

        <div class="add__form">
            <form action="/category/add" method="post">
                <input type="text" name="categoryName" placeholder="Category"/>
                <button type="submit"> Add a Category</button>
            </form>
        </div>
    </div>


</body>

</html>