<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${category.name}">Category</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/layout.css">
</head>

<header>
    <div>
        <h1 class="mainTitle">
            All The Tacos!
        </h1>
    </div>
    <div class="indexBody">
        <div class="nav__icon">
            <a href="/author/all-authors">Author</a>
            <a href="/post/all-posts">Post</a>
            <a href="/tag/all-tags">HashTags</a>

        </div>
    </div>
</header>
<hr>


<body class="container">


<div class="container__body">

    <div class="container__body__info">
        <h1>Lets get some tacos!</h1>


        <div th:text="${category.name}">
            <h1>More Tacos</h1>
        </div>
        <div th:each="post: ${category.posts}">
            <h2><a th:href="@{'/post/' + ${post.id}}">Post</a></h2>
         </div>

    </div>
</div>

</body>
</html>