<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>


<header>
    <div>
        <h1 class="mainTitle">
            Welcome to the Taco site!
        </h1>
    </div>
    <div class="indexBody">
        <div class="nav__icon">
            <a href="/index">Home</a>
            <a href="/authors">Author</a>
            <a href="/post">Post</a>
            <a href="/tags">HashTags</a>

        </div>
    </div>
</header>



<body class="container">


    <div class="container__body">

        <div class="container__body__info">
            <h1> Categories</h1>
        </div>

        <div th:each="category:${categories}" th:remove="tag">
            <a th:text="${category.name}" th:href="'/category' + ${category.id}"></a>
        </div>

        <form action="/category/add" method="post">
            <input type="text" name="categoryName" placeholder="Category"/>
            <button type="submit"> Add a Category</button>
        </form>


    </div>


</body>

</html>