<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Taco site! </title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/layout.css">
</head>

<header>
    <div class="mainTitle">
        <h1>
            Welcome To The Tacos
        </h1>
    </div>
        <div class="nav__icon">
            <a href="/author/all-authors">Author</a>
            <a href="/category/all-categories">Categories</a>
            <a href="/post/all-posts">Post</a>
            <a href="/tag/all-tags">HashTags</a>
        </div>
</header>


<body>









</body>

<footer>
</footer>

</html>