<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Taco site! </title>
    <link rel="stylesheet" href="../static/CSS/style.css">
    <link rel="stylesheet" href="../static/CSS/layout.css">
</head>

<header>
    <div>
        <h1 class="mainTitle">
            Welcome to the Taco site!
        </h1>
    </div>
    <div class="indexBody">
        <div class="nav__icon">
            <a href="/index">Home</a>
            <a href="/authors">Author</a>
            <a href="/category">Categories</a>
            <a href="/post">Post</a>
            <a href="/tags">HashTags</a>

        </div>
    </div>
</header>


<body>









</body>

<footer>
</footer>

</html>