<!DOCTYPE html >
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TAGS</title>
</head>

<header class="container__header">
    <a href="/">Home</a>
    <a href="/category/all-categories">Add a Category</a>
    <a href="/tag/allTags">Add a Tag</a>
    <a href="/posts/all-posts">Add a Post!</a>
</header>

<body class="container">


<div class="container__body">
    <div class="container___body__info">

        <h1>Tags</h1>

        <form action="/tag/add" method="post">

            <input type="text" name="tagName" placeholder="Tag"/>
            <button type="submit"> Add a tag</button>

        </form>

        <div th:each="tag : ${tags}" th:remove="tag">
            <a th:text="${tag.name}" th:href="'/tag//' + ${tag.id}"></a>
        </div>

    </div>

</div>

</body>
</html>