<!DOCTYPE html >
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TAGS</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/layout.css">
</head>

<header>
    <div>
        <h1 class="mainTitle">
            Welcome to the Taco site!
        </h1>
    </div>
    <div class="indexBody">
        <div class="nav__icon">
            <a href="/">Home</a>
            <a href="/author/all-authors">Author</a>
            <a href="/category/all-categories">Categories</a>
            <a href="/post/all-posts">Post</a>

        </div>
    </div>
</header>

<body class="container">


<div class="container__body">
    <div class="container___body__info">

        <h1>Tags</h1>

        <form action="/tag/add" method="post">

            <input type="text" name="tagName" placeholder="Tag"/>
            <button type="submit"> Add a tag</button>

        </form>

        <div th:each="tag : ${tags}" th:remove="tag">
            <a th:text="${tag.name}" th:href="'/tag//' + ${tag.id}"></a>
        </div>

    </div>

</div>

</body>
</html>